[run]
branch = True
source = django_cloud_tasks
omit = */sample_project/*

[report]
exclude_lines =
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:

[html]
directory = html-coverage

