[tool.poetry]
name = "django-google-cloud-tasks"
version = "1.3.1.rc1"
description = "Async Tasks with HTTP endpoints"
authors = ["Joao Daher <joao@daher.dev>"]
packages = [
    { include = "django_cloud_tasks" },
]

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
django = ">=4,<5"
gcp-pilot = {version = "*", extras = ["tasks", "pubsub"]}
drf-kit = "^1.19.0"


[tool.poetry.dev-dependencies]
pylint = "*"
pylint-django = "*"
black = "*"
coverage = "*"
factory-boy = "*"
freezegun = "*"
isort = "*"
safety = "*"


[tool.black]
line-length = 120
target-version = ['py311']

[tool.isort]
profile = "black"
line_length = 120
include_trailing_comma = true
multi_line_output = 3
src_paths = ["."]


[tool.pylint.main]
ignore = "migrations"
#load-plugins = "pylint_django"  # FIXME: fix the settings discovery
recursive = true
disable = "C0114, C0115, C0116, W0212, W0511, W0613, W1203, W0221, R0901, R0903, R0913, R0801, R0401, R0902, R0904, R0914"

[tool.pylint.format]
max-line-length = "120"

[tool.pylint.basic]
good-names= "i, j, k, m, n, dt, db, pk, tz, qs, ex, _"


[tool.coverage.run]
branch = true
source = ["django_cloud_tasks"]
omit = ["*/manage.py", "*/settings.py", "*/wsgi.py"]


[build-system]
requires = ["poetry"]
build-backend = "poetry.masonry.api"
